@model ProductFormModel
@{
	string? addAction = ViewData["AddAction"] as string;
}
<div class="row">
	<div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
		<form method="post" enctype="multipart/form-data" asp-controller="Product" asp-action="Add">
			<div class="form-group">
				<label asp-for="Name">Name</label>
				<input asp-for="Name" class="form-control" placeholder="Title..." />
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Description"></label>
				<textarea asp-for="Description" rows="4" class="form-control" placeholder="Very confortable summer dress..."></textarea>
				<span asp-validation-for="Description" class="small text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="BrandId"></label>
				<select asp-for="BrandId" class="form-control">
					<option value="">Choose your brand</option>
					@foreach (var brand in Model.Brands)
					{
						<option value="@brand.Id">@brand.Name</option>
					}
				</select>
				<span asp-validation-for="BrandId" class="small text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="CategoryId"></label>
				<select asp-for="CategoryId" class="form-control">
					<option value="">Choose your category</option>
					@foreach (var category in Model.Categories)
					{
						<option value="@category.Id">@category.Name</option>
					}
				</select>
				<span asp-validation-for="CategoryId" class="small text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="SizeType"></label>
				<select asp-for="SizeType" class="form-control">
					@foreach (var sizeType in Model.SizeTypes)
					{
						<option value="@sizeType">@sizeType</option>
					}
				</select>
				<span asp-validation-for="SizeType" class="small text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="Price"></label>
				<input asp-for="Price" class="form-control">
				<span asp-validation-for="Price" class="small text-danger"></span>
			</div>


			<div class="form-group">
				<label asp-for="Quantity"></label>
				<input asp-for="Quantity" class="form-control">
				<span asp-validation-for="Quantity" class="small text-danger"></span>
			</div>

			@if (addAction != null && addAction == "Add")
			{

				<div class="form-group">
					<label>Upload Image</label>
					<input class="form-control" name="files" multiple="multiple" type="file" />
				</div>
			}

			<div class="text-center">
				<input class="btn btn-success mb-2 mt-2 w-100 p-3 fw-bold" type="submit" value="Save" />
				<a asp-action="All" class="btn btn-secondary mb-1 w-100 p-3 fw-bold">Return to All Products</a>
			</div>
		</form>
	</div>
</div>

