@using DressUp.Services.Data.Interfaces
@using DressUp.Web.Infrastructure.Extensions
@model AllStoresViewModel

<div class="col-md-4">
	<div class="card mb-3">
		<div class="card-body text-center">
			<img class="card-img-top" src="@Url.Content(Model.ImageUrl)" alt="@Model.Name Image">
			<h4>@Model.Name</h4>
			<h6>Opening Time: <b>@Model.OpeningTime.ToShortTimeString()</b></h6>
			<h6>Closing Time: <b>@Model.ClosingTime.ToShortTimeString()</b></h6>
			<h6>At the moment:
				@if (Model.Status == true)
				{
					<span class="text-success"><strong>Open</strong></span>
				}
				else
				{
					<span class="text-danger"><strong>Closed</strong></span>
				}
			</h6>

			<br />
			<a asp-area="" asp-controller="Store" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-success">Details</a>

			@if (User.IsAdmin() || User.IsModerator())
			{
				<a asp-area="" asp-controller="Store" asp-action="Edit" asp-route-id="@Model.Id"
				   class="btn btn-warning">Edit</a>
				<a asp-area="" asp-controller="Store" asp-action="Delete" asp-route-id="@Model.Id"
				   class="btn btn-danger">Delete</a>
				<p></p>
			}
		</div>
	</div>
</div>
