@* @using HouseRentingSystem.Services.Data.Interfaces
@using HouseRentingSystem.Web.Infrastructure.Extensions

@inject IAgentService AgentService
@inject IHouseService HouseService
@{
    bool isUserAgent = await AgentService.AgentExistsByUserIdAsync(User.GetId()!);
    bool isAgentOwnerOfTheHouse = await AgentService.HasHouseWithIdAsync(User.GetId(), Model.Id);
    bool isHouseRentedByUser = await HouseService.IsRentedByUserWithIdAsync(Model.Id, User.GetId()!);
} *@
@using static DressUp.Common.NotificationMessagesConstants;
@model ProductDetailsViewModel

@{
	ViewBag.Title = "Product Details";
	List<ProductImagesViewModel> dressImages = Model.Images.ToList();
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="container" style="display:inline">
	<div class="row">
		<div class="col-4">
			@if (Model.Images.Any())
			{
				<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
					<div class="carousel-inner">
						@for (int i = 0; i < Model.Images.Count(); i++)
						{
							var dressImg = dressImages[i];
							<div class="carousel-item @(i == 0 ? "active" : string.Empty)">
								<img class="d-block w-100" style="width: 20rem;"
									 src="@Url.Content(dressImg.ImageUrl)" alt="@Model.Name Image with Id = @dressImg.Id">
							</div>
						}
					</div>
					<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div>
			}
			else
			{
				<img class="card-img-top" style="width: 20rem;"
					 src="~/DressPics/ImageCommingSoon.jpg" alt="Coming Soon Image">
			}
		</div>
		<div class="card col-8 border-0">
			<p style="font-size:25px;"><u>@Model.Name</u></p>
			<p>@Model.Description</p>
			@* <p>Located in: <b>@Model.Address</b></p> *@
			<p>
				Price:
				<b>@($"{Model.Price:f2}") BGN</b>
			</p>
			<p>Brand: <b>@Model.Brand</b></p>
			<p>Category: <b>@Model.Category</b></p>
			<p>Dress for: <b>@Model.SizeType</b></p>
			<p>Quantity: <b>@Model.Quantity</b></p>
			<div class="form-inline">
				@if (User.Identity?.IsAuthenticated ?? false)
				{
					<a asp-area="" asp-controller="Product" asp-action="Edit" asp-route-id="@Model.Id"
					   class="btn btn-warning">Edit</a>
					<a asp-area="" asp-controller="Product" asp-action="Delete" asp-route-id="@Model.Id"
					   class="btn btn-danger">Delete</a>
					<a asp-area="" asp-controller="Product" asp-action="AddToFavorite" asp-route-ProductId="@Model.Id"
					   class="btn btn-success">Add to favorite</a>
					<p></p>

					@if (Model.Quantity > 0)
					{
						@if (User.Identity?.IsAuthenticated ?? false)
						{
							<form class="input-group-sm" asp-area="" asp-controller="Product"
								  asp-action="Order" asp-route-id="@Model.Id" method="post">
								<input class="btn btn-primary" type="submit" value="Order" />
							</form>
						}
					}
					else
					{

					}
				}
				else
				{
					<p>@ErrorMessages.LogInToOrder</p>
				}
			</div>
			<p></p>
			@* <div class="card" style="width: 18rem;">
			<div class="card-body">
			<h5 class="card-title">Agent Info</h5>
			<p class="card-text">Full Name: @Model.Agent.FullName</p>
			<p class="card-text">Email:  @Model.Agent.Email</p>
			<p class="card-text">Phone Number: @Model.Agent.PhoneNumber</p>
			</div>
			</div> *@
		</div>
	</div>
</div>
